.actions-section {
  overflow: hidden;
  &__main {
    padding-top: 88px;
    padding-bottom: 120px;
    @media screen and (min-width: $lg-width) {
      padding-top: 170px;
      padding-bottom: 280px;
    }
  }
  &__left{
    margin-bottom: 70px;
    @media screen and (min-width: $lg-width){
      margin-bottom: 0;
    }
    .block-title{
      margin-bottom: 20px;
      @media screen and (min-width: $lg-width){
        margin-bottom: 32px;
      }
    }
  }

  &__content {
    @media screen and (min-width: $md-width) {
      max-width: 537px;
    }
    h2{
      margin-bottom: 60px;
      @media screen and (min-width: $md-width){
        margin-bottom: 70px;
      }
    }

    p {
      @media screen and (min-width: $lg-width){
        padding-right: 172px;
      }
    }
  }

  &__more {
    margin-top: 60px;
    &.desktop {
      display: none;
      @media screen and (min-width: $lg-width) {
        display: inline-block;
      }
      margin-top: 70px;
    }
    &.mobile{
      @media screen and (min-width: $lg-width){
        display: none;
      }
    }
  }

  &__list {
    position: relative;
    &::before,&::after{
      position: absolute;
      display: block;
      @media screen and (min-width: $md-width){
        content: '';
      }
    }
    &::before{
      left: -240px;
      bottom: -26px;
      width: 240px;
      height: 805px;
      background: url("../img/dest/actions/ship.svg") center / contain no-repeat;
      z-index: -1;
    }
    &::after{
      top: -44px;
      right: -47px;
      width: 93px;
      height: 93px;
      background: url("../img/dest/ui/balls.svg");
      z-index: -1;
    }
    ul {
      li {
        width: 100%;
        height: 229px;
        overflow: hidden;
        border-bottom: 1px solid #EBEBF0;
        &:not(:last-child){
          margin-bottom: 20px;
          @media screen and (min-width: $md-width){
            margin-bottom: 0;
            height: 290px;

          }
        }

        &:first-child{
          border-top: 1px solid #EBEBF0;
        }
        @media screen and (min-width: $lg-width) {
          height: 290px;
        }

        a {
          display: block;
          position: relative;
          height: 100%;
          color: white;
          @media screen and (min-width: $md-width){
            color: $main-color;

          }

          &:hover {
            color: white;
            img{
              opacity: 0;
              &.hover{
                opacity: 1;
              }
            }
            .actions-section__list-number{
              @media screen and (min-width: $md-width){
                color: white;
              }
            }

            p {
              &::after{
                background: white;
              }
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            opacity: 0;
            transition: opacity .5s;
            @media screen and (min-width: $md-width){
              opacity: 1;
            }
            &.hover{
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              opacity: 1;
              @media screen and (min-width: $md-width){
                opacity: 0;
              }
            }
          }

          p {
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 35px;
            margin: 0;
            font-size: 14px;
            padding-left: 8px;
            font-weight: bold;
            line-height: 110%;
            text-transform: uppercase;
            //color: white;
            @media screen and (min-width: $md-width){
              left: 55px;
              bottom: 60px;
              right: 86px;
              font-size: 22px;

            }

            &::before {
              position: absolute;
              top: 50%;
              left: -66px;
              display: block;
              content: none;
              width: 127px;
              height: 127px;
              background-image: url("../img/dest/ui/skew-lines_white.svg");
              background-size: contain;
              transform: translateY(-50%);
              @media screen and (min-width: $md-width){
                content: '';
              }
            }
            &::after{
              position: absolute;
              display: block;
              width: 3px;
              left: -3px;
              top: 4px;
              bottom: 4px;
              content: none;

              background: $accent-color;
              @media screen and (min-width: $md-width){
                content: '';
              }
            }
          }
        }
      }
    }
    &-number{
      display: block;
      position: relative;
      font-weight: normal;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      color: white;
      padding-bottom: 20px;
      margin-bottom: 17px;
      @media screen and (min-width: $md-width){
        position: absolute;
        left: 0;
        top: 4px;
        color: $main-color-light;
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 16px;
        transform: translateX(calc(-100% - 8px));
      }
      &::after{
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        content: '';
        width: 18px;
        height: 15px;
        background: url("../img/dest/ui/link-arrow_white.svg") center no-repeat;
        background-size: contain;
        transform: translateY(50%);
        @media screen and (min-width: $md-width){
          content: none;
        }
      }
      &::before{
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        content: '';
        width: 21px;
        height: 2px;
        background: white;
        @media screen and (min-width: $md-width){
          content: none;
        }
      }
    }
  }
}