.calc-section {
  position: relative;
  @media screen and (min-width: $xl-width) {
    border-top: 1px solid #EBEBF0;
    border-bottom: 1px solid #EBEBF0;
  }


  &__back {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url("../img/dest/calc/bg.jpg") left top no-repeat;
    background-size: contain;
    display: none;
    @media screen and (min-width: $xl-width){
      display: block;
    }
    &::before{
      position: absolute;
      left: 8px;
      bottom: 90px;
      display: block;
      content: '';
      width: 56px;
      height: 164px;
      background: url("../img/dest/calc/Dots.svg") center;
    }

    &-layout {
      position: relative;
      width: 100%;
      height: 100%;
      background: #F7FAF9;
      @media screen and (min-width: $xl-width) {
        width: 64%;
        margin-left: auto;
      }
      &::before{
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        content: 'COST';
        font-weight: bold;
        font-size: 210px;
        line-height: 100%;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.1;
        transform: rotate(-90deg) translateY(-372px) translateX(190px);
      }
    }
  }
  &__weather{
    position: absolute;
    bottom: 0;
    right: 20px;
    padding: 10px 17px 10px 17px;
    background: white;
    display: flex;
    transform: translateY(54px);

    @media screen and (min-width: $xl-width){
      top: 177px;
      left: 0;
      padding: 10px 21px 10px 25px;
      width: 260px;
      height: 100px;
      transform: translateX(calc(-100% + 50px));
    }
  }
  &.service-calc{
    border: none;
    .calc-section{
      &__title{
        h2{
          font-size: 22px;
          margin-bottom: 30px;
        }
      }
    }
  }
  &.calc-page{
    margin-top: 80px;
    @media screen and (min-width: $xl-width) {
      border-top: none;
      border-bottom: none;
    }
    @media screen and (min-width: $xxl-width){
      margin-top: 93px;
    }

    .calc-page__volume{
      @media screen and (min-width: $xl-width) {
        max-width: 771px;
      }
    }
    .calc-section {
      &__back{
        position: static;
      }
      &__back-layout {
        @media screen and (min-width: $xl-width) {
          width: 77%;
        }
      }
      &__front{
        @media screen and (min-width: $xl-width) {
          padding-top: 123px;
          padding-bottom: 74px;
        }
      }
      &__block{
        @media screen and (min-width: $xl-width){
          padding-left: 130px;
          max-width: 1260px;
        }
      }
      &__float-values{
        @media screen and (min-width: $xl-width){
          max-width: 751px;
        }
      }

    }

    .calc-page__date-wrapper{
      @media screen and (min-width: $xl-width) {
        margin-bottom: 30px;
        .calc-section__date{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-bottom: 10px;
        }
      }
    }
  }

  &__front {
    @media screen and (min-width: $xl-width) {
      padding-top: 150px;
      padding-bottom: 100px;
    }
  }

  &__block {
    position: relative;

    &::before {
      position: absolute;
      display: block;
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background: #DFE9E5;
      z-index: 1;
      @media screen and (min-width: $xl-width) {
        content: none;
      }
    }
  }

  &__title {
    background: #F7FAF9;
    padding-bottom: 70px;
    padding-right: 20px;
    @media screen and (min-width: $xl-width) {
      padding-right: 0;
      padding-bottom: 0;
      margin-bottom: 100px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 30px;
    }

    p {
      margin: 0;
    }
    &-wrapper{
      position: relative;
      margin-right: -20px;
      padding-right: 80px;
      background: url("../img/dest/calc/bg.jpg") right top no-repeat;
      @media screen and (min-width: $xl-width){
        margin-right: 0;
        padding-right: 0;
        background: transparent;
      }
    }
  }

  &__float-values {
    display: flex;
    flex-wrap: wrap;
    margin: -20px 0;
    margin-bottom: 40px;
    @media screen and (min-width: $md-width){
      margin-top: -20px;
    }
    @media screen and (min-width: $xl-width) {
      margin: -10px;
      margin-bottom: 30px;
    }

    .form__input-wrapper {
      flex-basis: 100%;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: opacity .25s;
      @media screen and (min-width: $xl-width) {
        padding: 10px;
        flex-basis: calc(100% / 3);
      }

      label {
        display: block;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: $dark-grey;

        span {
          font-weight: 500;
          color: #B7C0CE;
        }
      }

      &.disabled {
        opacity: .5;
      }
    }
  }

  &__volume {
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $dark-grey;

    &-title, &-value {
      margin: 0;

      span {
        font-weight: 500;
        color: #B7C0CE;
      }
    }

    &-title {
      margin-right: 40px;
    }

  }

  &__formula {
    display: block;
    text-align: left;
    margin-top: 15px;
    @media screen and (min-width: $xl-width) {
      margin-top: 0;
      text-align: right;
    }
  }

  &__checkbox {
    margin: 55px 0 60px;
    @media screen and (min-width: $xl-width) {
      margin: 70px 0;
    }

    label {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      color: $dark-grey;
      @media screen and (min-width: $xl-width) {
        font-size: 16px;
      }

      &::before {
        display: block;
        content: '';
        width: 30px;
        height: 30px;
        border: 2px solid #CBCBD7;
        margin-right: 18px;
        flex-shrink: 0;
      }
    }

    input {
      display: none;

      &:checked + label {
        &::before {
          border: 6px solid $accent-color;
        }
      }
    }
  }

  &__date {
    @media screen and (min-width: $xl-width) {
      max-width: 237px;
    }

    &-wrapper {
      margin: 0;
      @media screen and (min-width: $md-width) {
        margin-top: 0;
      }
    }

    label {
      display: block;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: $dark-grey;
      margin-bottom: 20px;
    }
  }

  &__form {
    margin-top: 120px;
    @media screen and (min-width: $xl-width) {
      margin-top: 0;
    }

    &-footer {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 65px;
      padding-top: 35px;
      border-top: 2px dotted #CBCBD7;
      @media screen and (min-width: $xl-width) {
        margin-top: 70px;
        padding-top: 40px;

      }
    }
  }

  &__result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    margin-bottom: 60px;
    @media screen and (min-width: $xl-width) {
      margin-bottom: 0;
      align-items: unset;
      justify-content: unset;
      flex-basis: unset;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #9EBDB3;
      margin: 0;
      @media screen and (min-width: $xl-width) {
        flex-basis: 100%;
      }

      &.calc-section__result-value {
        font-weight: bold;
        font-size: 22px;
        line-height: 110%;
        text-transform: uppercase;
        color: #2F333E;
        @media screen and (min-width: $xl-width) {
          margin-top: 10px;
        }
      }
    }
  }

  &__submit {
    flex-basis: 100%;
    text-align: right;
    @media screen and (min-width: $xl-width) {
      flex-basis: unset;
    }

    button {
      cursor: pointer;
      border: none;
      background: transparent;
    }
  }

  &__datepicker {
    position: fixed;
    overflow: scroll;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-height: 100vh;
    transform: translateX(200%);
    transition: transform 1s;
    z-index: $z-highest;
    background: white;
    padding: 80px 20px;
    @media screen and (min-width: $sm-width) {
      width: 567px;
      padding: 80px;
    }

    &.open {
      transform: none;
    }

    td.highlight {
      position: relative;

      &::before {
        position: absolute;
        left: 50%;
        bottom: 7px;
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #FB4667;
        transform: translateX(-50%);
      }
    }

    &-title {
      font-weight: bold;
      font-size: 22px;
      line-height: 110%;
      text-transform: uppercase;
      color: #2F333E;
      margin-bottom: 100px;
    }

    &-add {
      display: flex;
      justify-content: space-between;
      padding-bottom: 37px;
      border-bottom: 1px solid #EBEBF0;
      margin-bottom: 37px;

      p {
        margin: 0;
      }

      p:nth-child(1) {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: $dark-grey;
        position: relative;
        padding-left: 25px;
        &::before{
          position: absolute;
          left: 0;
          top: 50%;
          display: block;
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background: #FB4667;
          transform: translateY(-50%);
        }
      }

      p:nth-child(2) {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: right;
        color: #B7C0CE;

      }
    }
    &-close{
      cursor: pointer;
      margin-top: 100px;
      border: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #9EBDB3;
      background: transparent;
      transition: color .2s;

      @media screen and (min-width: $sm-width) {
        margin-top: 0;
        position: absolute;
        left: 80px;
        bottom: 137px;
      }
      &:hover{
        color: $accent-color;
      }
    }
  }
}

