.circle {
  position: fixed;
  display: block;
  opacity: 0;
  visibility: hidden;
  right: 0;
  top: 50%;
  width: 600px;
  margin: auto;
  background: url("../img/dest/circle-menu/circle-bg.svg") center / contain no-repeat;
  transform: translate(87%, -50%);
  z-index: $z-medium;
  transition: opacity .2s, visibility .2s;
  @media screen and (min-width: $xl-width){
    display: block;
    opacity: 1;
    visibility: visible;
  }

  &_white{
    background: url("../img/dest/circle-menu/circle-bg_white.svg") center / contain no-repeat;

    .circle__element{
      &-icon{
        background: url("../img/dest/circle-menu/field-icon_white.svg") center no-repeat;
      }
      &-content{
        color: white;
      }
    }
  }


  &__wrapper {
    position: relative;
    padding-top: 100%;
    //width: 100%;
    //height: 100%;
    //animation: spin 10s linear infinite reverse;
  }

  &__element {
    position: absolute;
    line-height: 100%;
    display: inline-block;
    transition: color .2s, font-size .2s, font-weight .2s;
    font-weight: 500;
    &.active{
      font-weight: 600 !important;
      font-size: 14px !important;
      line-height: 100%;
      opacity: 1 !important;
    }

    &-icon {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      background: url("../img/dest/circle-menu/field-icon.svg") center no-repeat;
      background-size: contain;
      width: 38px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity .2s, width .2s, height .2s;
    }

    &-content {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 0;
      padding: 15px 0;
      width: 200%;
      text-align: right;
      color: $main-color;
      transform: translate(calc(-100% - 15px), -50%);
      transition: left .2s, right .2s, top .2s, bottom .2s, transform .2s;

    }
  }
}