.faq-section{
  padding: 50px 0;
  &__title{
    margin-bottom: 40px;
    h2{
      font-size: 22px;
      @media screen and (min-width: $md-width){
        font-size: 46px;
      }
    }
  }
  &__list{
    .accordion{
      li{
        border-bottom: 1px dashed #CBCBD7;
      }
      &__title{
        position: relative;
        margin-bottom: 3px;
        padding: 30px 15px 30px 0;
        outline: none;
        border: none;
        border-bottom: 1px solid #CBCBD7;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color:  $dark-grey;
        background: transparent;
        transition: border-bottom-color .2s;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:hover{
          border-bottom-color: $dark-grey;
        }

        &::before{
          position: absolute;
          right: 0;
          top: 50%;
          display: block;
          content: '';
          width: 12px;
          height: 12px;
          background: url("../img/dest/ui/accordion-trigger.svg") center no-repeat;
          background-size: contain;
          transform: translateZ(0) translateY(-50%);
          transition: transform .25s;
        }
        &.active{
          &::before{
            transform: translateZ(0) translateY(-50%) rotate(-45deg);
          }
        }
      }
      &__content{
        &-text{
          padding-top: 21px;
          padding-bottom: 30px;
        }
      }
    }
  }
}