.faq-section{
  padding: 50px 0;
  &__list{
    .accordion{
      li{
        border-bottom: 1px dashed #CBCBD7;
      }
      &__title{

        overflow: visible;
        margin-bottom: 3px;
        outline: none;
        padding: 30px 0;
        border-bottom: 1px solid #CBCBD7;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color:  $dark-grey;
      }
    }
  }
}