.fleet-primary-section {
  &__main {
    padding-top: 74px;
    padding-bottom: 120px;
    @media screen and (min-width: $lg-width) {
      padding-top: 303px;
      padding-bottom: 312px;
    }
  }
  &__background-word{
    overflow: visible;
    @media screen and (min-width: $lg-width){
      font-size: 260px;
    }
    @media screen and (min-width: $xl-width){
      position: absolute;
      left: -100%;
      top: 50%;
      transform: rotate(-90deg) translate(-50%, 8px);
      transition: top .5s ease-in-out;
    }
    @media screen and (min-width: $xxl-width){
      transform: rotate(-90deg) translate(-50%, 160px);
    }

  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @media screen and (min-width: $md-width) {
      margin-bottom: 70px;
    }
    @media screen and (min-width: $lg-width) {
      display: block;
    }

    h2 {
      margin: 0;
    }
  }
  &__tabs{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100% + 35px);
  }

  &__info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: transform .4s;
    @media screen and (min-width: $lg-width) {
      padding-bottom: 70px;
      transform: translateX(-100%);

    }
    &.active{
      transform: none;
      position: relative;
      opacity: 1;
    }
  }

  &__more {
    margin-top: 60px;
    text-align: right;
    @media screen and (min-width: $lg-width) {
      margin-top: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(50%);
    }
  }
  &__slider-and-arrows{
    position: relative;
    height: 100%;
    @media screen and (min-width: $lg-width) {
      padding-right: 128px;
    }
    .fleet-primary-section__slider-arrows {
      position: absolute;
      right: 0;
      top: 50%;
      height: 120px;
      transform: translateY(-50%);
      background: transparent;
      @media screen and (min-width: $lg-width) {
        display: flex;
      }
    }
  }
  &__slider {
    position: relative;
    margin-bottom: 60px;
    @media screen and (min-width: $lg-width) {
      height: 100%;
      margin-bottom: 0;
      max-height: 520px;
    }

    .swiper {
      &-container{
        height: 100%;
      }
      &-wrapper {
        display: flex;
      }
      &-slide {
        height: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }



    &-arrows {

      @media screen and (min-width: $lg-width) {
        display: none;
      }
    }
  }

  &__pagination {
    display: none;
    padding-top: 47px;
    padding-bottom: 47px;
    transform: translateY(50%);
    @media screen and (min-width: $lg-width) {
      display: flex;
    }

    .swiper-pagination-bullet-active {
      position: relative;

      &::before {
        position: absolute;
        display: block;
        content: '';
        width: 1px;
        height: 80px;
        transform: translate(4px, -50%);
        background: #EBEBF0;
      }

      &::after {

        position: absolute;
        padding: 12px 0;
        display: block;
        content: attr(data-index);
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        transform: translate(-5px, -19px);

        background: white;
      }
    }
  }
}


.fleet-specs {
  ul {
    li {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #9EBDB3;
      display: flex;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      @media screen and (min-width: $lg-width) {
        font-size: 16px;
        &:not(:last-child) {
          margin-bottom: 50px;
        }
        display: block;
      }

      p {
        color: $main-color;
        margin: 0;
        flex-grow: 1;
        text-align: right;
        @media screen and (min-width: $lg-width) {
          text-align: left;
        }
      }
    }
  }

  &__value {

    @media screen and (min-width: $lg-width) {
      margin-top: 10px;
    }
  }

  &__num {
    font-weight: bold;
    font-size: 16px;
    line-height: 110%;
    @media screen and (min-width: $lg-width) {
      font-size: 22px;
    }
  }

  &__measure {
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
  }
}