.news {
  &__image {
    height: 290px;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  &__text{
    margin-top: 40px;
    @media screen and (min-width: $lg-width){
      margin-top: 70px;
    }
    time{
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #71798B;
      @media screen and (min-width: $lg-width){
        font-size: 16px;
      }
      .news__year{
        color: #B7C0CE;
      }
    }
    h3{
      margin: 24px 0 0;
      font-weight: 600;
      font-size: 22px;
      line-height: 110%;
      color: #575A64;
    }
  }
}