.news-section {
  &__main {
    padding-top: 115px;
    @media screen and (min-width: $xl-width) {
      padding-bottom: 100px;
    }
  }

  &__title {
    margin-bottom: 50px;
    position: relative;
    padding-right: 55px;
    @media screen and (min-width: $lg-width) {
      margin-bottom: 70px;
    }
    h1{
      font-size: 32px;
      line-height: 100%;
      text-transform: uppercase;
      @media screen and (min-width: $xxl-width){
        font-size: 46px;
      }
    }
    .news-section__back{
      display: block;
      @media screen and (min-width: $xl-width){
        display: none;
      }
    }
  }

  &__left {
    flex-basis: 100%;
    margin-bottom: 100px;
    @media screen and (min-width: $xl-width) {
      flex-basis: 226px;
      margin-bottom: 0;
    }
    a {
      display: none;
    }
    &-content{
      position: sticky;
      top: 134px;
      @media screen and (min-width: $xl-width){
        height: calc(100vh - 215px);
        padding-bottom: 43px;
      }
      > .news-section__back{
        display: none;
        @media screen and (min-width: $xl-width) {
          display: block;
        }
      }
    }
  }

  &__back{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (min-width: $xl-width){
      right: unset;
      top: unset;
      left: 0;
      bottom: 27px;
    }
    a{
      display: inline-block;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      text-decoration: none;
      color: #9EBDB3
    }
  }

  &__center {
    overflow: hidden;
    position: relative;
    padding-bottom: 125px;
    @media screen and (min-width: $xl-width) {
      margin: 0 auto;
      padding-bottom: 0;
      padding-top: 107px;
    }

    &::before{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 1px;
      display: block;
      content: '';
      background: #E5E5E5;
      @media screen and (min-width: $xl-width){
        content: none;
      }
      
    }
    .tab {
      visibility: hidden;
      opacity: 0;
      //display: none;
      transition: opacity 2s, visibillity 2s;
      position: absolute;
      max-width: 750px;
      left: 0;
      top: 0;

      &.active {
        position: static;
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__more{
    margin-top: 50px;
    @media screen and (min-width: $xl-width) {
      margin-top: 70px;
    }
  }
  &__right {
    padding-top: 20px;
    position: sticky;
    top: 134px;

    > h3 {
      text-transform: uppercase;
      font-size: 22px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }

    .news {
      text-decoration: none;
      &__text{
        margin-top: 50px;
      }

      time {
        font-size: 12px;
        font-weight: 500;
      }

      h3 {
        margin-top: 14px;
        font-size: 16px;
        line-height: 1;
      }
    }
  }

  &__years {
    margin: 0;
    padding-left: 0;
    padding-top: 43px;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: $xl-width) {
      padding-top: 0;
      padding-left: 33px;
      display: block;
    }

    li {
      cursor: pointer;
      list-style: none;
      //transition: margin .2s;
      font-weight: 600;
      font-size: 16px;
      line-height: 110%;
      color: $main-color-light;

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      &.active {

        color: $main-color;
      }

      &:first-child {
        margin-top: 0 !important;
      }

      &:last-child {
        margin-bottom: 0 !important;
      }
    }

    &-wrapper {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        content: '';
        height: 2px;
        background: url("../img/dest/news/dashed-border_mobile.svg") left top repeat-x;
        @media screen and (min-width: $xl-width) {
          bottom: 0;
          right: unset;
          width: 2px;
          height: auto;
          background: url("../img/dest/news/dashed-border.svg") left top repeat-y;
        }

      }

      .round {
        position: absolute;
        top: 0;
        left: 0;
        width: 38px;
        height: 38px;
        transform: translateY(-50%);
        background: url("../img/dest/news/round.svg") center no-repeat;
        background-size: contain;
        transition: top .2s, left .2s;
        @media screen and (min-width: $xl-width) {
          transform: translate(calc(-50% + 1px), -25%);
        }
      }
    }
  }


  &__news {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      &:not(:last-child) {
        margin-bottom: 30px;
        @media screen and (min-width: $xl-width) {
          margin-bottom: 70px;
        }
      }
    }

    &-item {
      display: flex;
      text-decoration: none;
    }

    .news {

      &__image {
        width: 96px;
        flex-shrink: 0;
        height: auto;
        min-height: 76px;
        @media screen and (min-width: $xl-width) {
          width: 237px;
          min-height: 190px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &__text {
        padding-top: 14px;
        padding-bottom: 14px;
        margin-top: 0;
        margin-left: 20px;
        @media screen and (min-width: $xl-width) {
          margin-left: 70px;
          padding-top: 40px;
          padding-bottom: 65px;
        }

        time {
          font-size: 12px;
          @media screen and (min-width: $xl-width) {
            font-size: 16px;
          }
        }

        h3 {
          margin-top: 10px;
          font-size: 14px;
          font-weight: 600;
          line-height: 110%;
          color: #575A64;
          @media screen and (min-width: $xl-width) {
            margin-top: 24px;
            font-size: 22px;
          }
        }
      }
    }
  }
}