.our-news-section {
  &__borders{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  &__border{
    @media screen and (min-width: $xl-width){
      border-top: 1px solid #EBEBF0;
      border-bottom: 1px solid #EBEBF0;
    }

  }
  &__main {
    padding-top: 120px;
    padding-bottom: 140px;
    @media screen and (min-width: $xl-width) {
      padding-top: 296px;
      padding-bottom: 270px;
    }
  }
  &__titles{
    margin-bottom: 60px;
    @media screen and (min-width: $lg-width){
      margin-bottom: 100px;
    }
    h2{
      font-size: 22px;
      @media screen and (min-width: $lg-width){
        font-size: 46px;
      }
    }
  }
  &__subtitle{
    h2 {
      font-size: 22px;
      line-height: 110%;
    }
  }

  &__news {
    display: block;
    text-decoration: none;
    margin-bottom: 60px;
    @media screen and (min-width: $xl-width) {
      max-width: 330px;
      margin-bottom: 0;
    }

    .news {
      &__image {
        height: 290px;

        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
      &__text{
        margin-top: 40px;
        @media screen and (min-width: $lg-width){
          margin-top: 70px;
        }
        time{
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          color: #71798B;
          @media screen and (min-width: $lg-width){
            font-size: 16px;
          }
          .news__year{
            color: #B7C0CE;
          }
        }
        h3{
          margin: 24px 0 0;
          font-weight: 600;
          font-size: 22px;
          line-height: 110%;
          color: #575A64;
        }
      }
    }
  }
  &__first-new{
    .news__image{
      position: relative;
      &::before{
        position: absolute;
        top: 0;
        right: 18px;
        display: block;
        content: '';
        width: 58px;
        height: 58px;
        background: url("../img/dest/ui/dots-half.svg") center no-repeat;
        transform: rotate(-90deg) translateX(50%);
        @media screen and (min-width: $xl-width){
          right: unset;
          top: 47px;
          transform: scale(-1,1) translateX(50%);
        }
      }
    }
  }
  &__last-news{
    display: none;
    @media screen and (min-width: $xl-width){
      display: block;
      max-width: 500px;
    }
    ul{
      li{
        &:not(:last-child){
          margin-bottom: 70px;
        }
        a{
          text-decoration: none;
          time{
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            color: #71798B;
            .news__year{
              color: #B7C0CE;
            }
          }
          h3{
            margin: 14px 0 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            color: #575A64;
          }
        }
      }
    }
  }
  &__more{
    text-align: right;
    @media screen and (min-width: $xl-width){
      margin-top: 118px;
      max-width: 500px;

    }
  }
}