.request-section{
  &__block{

    @media screen and (min-width: $md-width){
      padding-left: 310px;
      background-clip: padding-box;
      background-size: cover;
      background: url("../img/dest/request/bg.jpg") center no-repeat;
      background-size: cover;
    }
  }
  &__form{
    @media screen and (min-width: $md-width){
      padding: 97px 0 57px 93px;
      background:  #F7FAF9;
    }
  }
}